body{
	font-family: helvetica;
	color: grey;
}
h1{	
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 0.1em;
	margin-top: 0px !important;
}
h2{
	font-size: 12px;
	font-weight: bold;
	margin-top: 0px !important;
}
p{
	margin-top: 0px;
	font-size: 14px;
	margin-bottom: 8px;
}
p.small{
	margin-top: 8px;
	font-size: 12px;
	margin-bottom: 8px;
	margin-top: 0px !important;
}
p.white{
	color:white;
}
ul.content{
	padding: 0px;
}
ul.content li{
	margin-left:21px;
}
a{
	color:black;
	text-decoration: underline;
}

.outer{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

@media(min-width: 500px){
	.banner{
		width:100%;
		height:195px;
		background-image: url(../img/alpgauer_banner.jpg);
		background-repeat: no-repeat;
		background-position: center center;
	}
}
@media(max-width: 500px){
	.banner{
		width:100%;
		height:104px;
		background-image: url(../img/alpgauer_banner_sm.jpg);
		background-repeat: no-repeat;
		background-position: center center;
	}
}

.navi{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	height: 90px;
	position:absolute;
}

.content-block-back{
	-webkit-transition: all linear 0.5s;
	-moz-transition: 0.5s linear all;
  	-o-transition: 0.5s linear all;
  	transition: all linear 0.5s;
	opacity: 1;
	position: absolute;
	display: block;
	//width:100%;
	//height:85%;
	//top:195px;
	min-height:100%;
	left:0px;
	min-width:100%;
	background: url(../img/titelbild_hr.jpg) no-repeat 50% 50% fixed;
	background-clip: padding-box;
	background-position: center;
	//background-repeat: no-repeat;
	background-size: cover;
	z-index: 0;
}
@media(max-width: 500px){
	.content-block-back{
		min-height:100%;
	}
}
@media(min-height: 810px){
	.content-block-back{
		background-image: url(../img/titelbild_hoch.jpg);
	}

}
.content-block-back.ng-hide{
	z-index: 0;
	opacity: 0;
}
.content-block-back-active{
	-webkit-transition: all linear 0.5s;
	-moz-transition: 0.5s linear all;
  	-o-transition: 0.5s linear all;
  	transition: all linear 0.5s;
	opacity: 1;
	background-image: url(../img/nav_background.png);
	background-position: right center;
	background-repeat:no-repeat;
	background-color: black;
	z-index: 2;
}
.content-block-back-active.ng-hide{
	opacity: 0;
	z-index: 3;
}

.content-block-back-active-content{
	-webkit-transition: all linear 0.5s;
	-moz-transition: 0.5s linear all;
  	-o-transition: 0.5s linear all;
  	transition: all linear 0.5s;
	opacity: 1;
	width: 80%;
	background-color: white;
	z-index: 1;
	position:absolute;
	height: 484px;
	top:195px;
	margin-left: 10%;
}
.content-block-back-active-content.ng-hide {
  opacity: 0;
}
.content-block-back-active-kontakt{
	-webkit-transition: all linear 0.5s;
	-moz-transition: 0.5s linear all;
  	-o-transition: 0.5s linear all;
  	transition: all linear 0.5s;
	opacity: 1;
	width: 80%;
	background-image:url(../img/kontakt_back.jpg);
	background-repeat:no-repeat;
	background-position: center;
	z-index: 1;
	position:relative;
	height: 376px;
	top:90px;
	margin-left: 10%;	
}
@media(min-width: 1350px){
	.content-block-back-active-kontakt{
		background-image: url(../img/kontakt_back_hr_nowords.jpg);
	}

}
.content-block-back-active-kontakt.ng-hide{
	opacity:0;
}

.content-block-front{
	width: 100%; 
	//height:530px; 
	z-index: 4;
	display:block; 
	position:absolute; 
	top:195px; 
	left:0px;
	//border: solid black;
}

.line{
	border-bottom: solid grey;
	position:absolute;
	width:65%;
	z-index: -2;
	left:18%;
}

@media(min-width: 500px){
	.line{
		top: 87px;
	}
}
@media(max-width: 500px){
	.line{
		top: -30px;
	}
}

@media(min-width: 500px){
	.content-inner{
		margin-left: 10%;
		margin-right: 10%;
		padding-top: 90px;
		position: absolute;
		top:60px;
		width: 73%;
		opacity:inherit;
		z-index:-1;
	}
	.mobile-nav{
		display:none;
	}
}

@media(max-width: 500px){
	.content-inner{
		margin-left: 10%;
		margin-right: 10%;
		//padding-top: 90px;
		position: absolute;
		top:16px;
		width: 73%;
		z-index:-1;
		opacity:inherit;
	}
	.content-block-back-active-kontakt{
		top:193px;
		background-position:-18px;
	}
}
@media(min-width: 767px){
	.content-inner{
		z-index:1;
	}
}

.content-animate.ng-leave{
	opacity: 0;
}

.content-animate{
	-webkit-transition: all linear 0.5s;
	-moz-transition: 0.5s linear all;
  	-o-transition: 0.5s linear all;
  	transition: all linear 0.5s;
	opacity: 1;
	z-index: 4;
	margin-right: 107px;
}
.content-animate.ng-enter{
	opacity: 0;
}
.content-animate.ng-hide{
	opacity:0;
}
.col-left{
	text-align: right !important;
	vertical-align: top;
	//height: 200px;
}
@media(min-width: 990px){
	.col-left{
		height: 200px;
	}
}
.col-left.kreation_leftback, .col-left.leistung_leftback{
	background-image: url(../img/Headline_Kreation_BG.png);
	background-repeat:no-repeat;
	background-position: 0%, 55%;
	background-size: 100%; 
}
.col-left.umsetzung_leftback{
	background-image: url(../img/Headline_Umsetzung_BG.png);
	background-repeat:no-repeat;
	background-position: 0%, 55%;
	background-size: 100%; 
}
.col-left.alpgauer_leftback, .col-left.alpgauer_mehr_leftback{
	background-image: url(../img/Headline_Alpgauer_BG.png);
	background-repeat:no-repeat;
	background-position: 0%, 55%;
	background-size: 100%; 
}
.col-left.referenzen_leftback{
	background-image: url(../img/Headline_Referenzen_BG.png);
	background-repeat:no-repeat;
	background-position: 0%, 55%;
	background-size: 100%; 
}
.col-right{
	text-align: left;
	vertical-align: 15px;
	//padding-right:80px;
}

.col-home{
	text-align: center;
	//margin-top: 15px;
	margin-left: 3%;
}

.footer{
	
}

/*navigation und buttons*/
@media(min-width:920px){
	.buttonrow{
		margin-left:7%;
	}
}
@media(max-width: 920px){
	.buttonrow{
		margin-left:-1%;
	}
}
@media(max-width: 767px){
	.buttonrow{
		display:none;
	}
	.mobile-nav{
		display:block;
	}
	.navi{
		background-size: 60% 30%;
		background-position: center center;
		background-color: dark grey;
	}
	.content-block-back-active.navi.kreation_navi-back, .content-block-back-active.navi.leistung_navi-back{
		background-image: url(../img/Headline_Kreation_BG.png);
	}
	.content-block-back-active.navi.umsetzung_navi-back{
		background-image: url(../img/Headline_Umsetzung_BG.png);
	}
	.content-block-back-active.navi.alpgauer_navi-back, .content-block-back-active.navi.alpgauer_mehr_navi-back{
		background-image: url(../img/Headline_Alpgauer_BG.png);
	}
	.content-block-back-active.navi.referenzen_navi-back{
		background-image: url(../img/Headline_Referenzen_BG.png);
	}
	.content-block-back-active.navi.kontakt_navi-back{
		background-size: 280% 100%;
		background-position: right;
	}
	.content-block-back-active.ng-hide{
	background-position: center center;	
	background-size: 0% 0%;
	opacity: 0;
	z-index: 3;
	}
}

.navbar-toggle{
	float:left!important;
	margin-right: -10px!important;
	background-color: black!important;
	border: 1px solid grey!important;
}
@media(max-width: 500px){
	.navbar-toggle{
		top: -90px;
		z-index: 5;
	}
}

.navbar-toggle .icon-bar{
	background-color: grey;
}

.mobile-nav{
	float:left;
	background-color: black;
	margin-left: -32px;
}

.mobile-nav li{
	list-style: none;
	text-align: left;
	border-bottom: solid grey;
	border-width: 1px;
	margin-left:20px;
}
.mobile-nav a{
	text-decoration: none;
	color: grey;
}
.mobile-nav a:hover, .mobile-nav a:active{
	text-decoration: none;
	color: white;
}
.navbar-collapse{
	//position: absolute;
	//top:-89px;
	//left: 50px;
	//z-index: -1
}
@media(max-width: 500px){
	.navbar-collapse{
		position:relative;
		top: -91px;
	}
}

@media(min-width: 500px){
.navbar-collapse{
	top:0px;
	}
}
.collapsing{
	z-index:-1;
}

.nav-button{
	width: 50px;
	height: 75px;
	margin-right: auto;
	margin-left: auto;
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}

.in .kreation, .in .umsetzung{
	display:none;
}

a:hover.nav_button{
	text-decoration: none;
}

.home{
	width: 60px;
	height: 75px;
	background-image: url(../img/home.png);
	background-position: 25px;
	background-repeat: no-repeat;
	cursor: pointer;
	margin-left: 22px;
}
.breadcrump-text{
	text-align: center;
	font-family: helvetica;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 0.1em;
	color:grey;
	height: 80px;
	margin-top: 25px;
}
.breadcrump_active{
	color:black;
}
.kreation{
	background-image: url(../img/kreation_grau.png);
}
div:hover.kreation{
	background-image: url(../img/kreation_weiss_glow.png);
}
div.kreation_selected{
	background-image: url(../img/kreation_weiss.png);
}
.umsetzung{
	background-image: url(../img/umsetzung_grau.png);
}
div:hover.umsetzung{
	background-image: url(../img/umsetzung_weiss_glow.png);
}
div.umsetzung_selected{
	background-image: url(../img/umsetzung_weiss.png);
}
.alpgauer{
	background-image: url(../img/alpgauer_grau.png);
}
div:hover.alpgauer{
	background-image: url(../img/alpgauer_weiss_glow.png);
}
div.alpgauer_selected{
	background-image: url(../img/alpgauer_weiss.png);
}
.referenzen{
	background-image: url(../img/referenzen_grau.png);
}
div:hover.referenzen{
	background-image: url(../img/referenzen_weiss_glow.png);
}
div.referenzen_selected{
	background-image: url(../img/referenzen_weiss.png);
}

.kontakt{
	color:grey;
	padding-top: 35px;
	width:1px;
}
.kontakt_active{
	color:white;
}


/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

/* formular */
label{
	width:80px;
}
label.inline{
	width: 130px;
}
input, select, textarea{
	border-radius: 5px;
	background-color: rgb(229, 223, 223);
	border-color: rgb(103, 97, 97);
}
input.white{
	border-color: rgb(228, 220, 220);
	margin: 7px 4px 2px 5px;
	width: 128px;
}