<div class="row row-centered content-inner">           
  <div class="col-md-6 col-centered col-left" ng-class="target+'_leftback'">
      <p class="white">ALPGAUER</p>
        <p class="white">
          Ralf Hindsches<br>
          Klosterstrasse 34<br>
          D-79777 Ühlingen-Berau<br>
          +49 (0) 7747 91 0 91<br>
          +49 (0) 171 532 79 66<br>
        </p>
        <p class="white">
        hindsches(at)alpgauer.de
        </p>
  </div>
  <div class="col-md-6 col-centered col-right" ng-controller="FormCtrl">
        <form name="kontakt" ng-submit="submit()">
          <label>Anrede</label>
          <select ng-model="formular.gender">
            <option></option>
            <option>Frau</option>
            <option>Herr</option>
          </select>
          <br>
          <label>Vorname</label>
          <input ng-model="formular.vorname" />
          <br>
          <label>Nachname</label>
          <input ng-model="formular.nachname" />
          <br>
          <label>Email</label>
          <input type="email" required ng-model="formular.email" name="email" placeholder="name@example.com" />
          <br>          
          <span class="error" ng-show="kontakt.email.$error.email">keine E-mail adresse</span>
          <label class="inline">Ihre Nachricht</label><br>
          <textarea name="nachricht" required ng-model="nachricht" rows="6" cols="30" ></textarea>
          <br>
          <img src="php/image.php" />
          <input type="submit" value="Senden">
        </form>
  </div>           
</div>